<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>野山参等级分类系统</title>
	<link rel="stylesheet" href="static/layui/css/layui.css">
	<link rel="stylesheet" href="static/layui/css/global.css">
	<script src="static/layui/layui.js"></script>
	<script>
		layui.use('form', function () {
			var form = layui.form;
		});
	</script>
</head>

<body>
	<script>
		layui.use(function () {
			var element = layui.element;
			element.render('nav');
		});
	</script>

	<!-- header part -->
	<div class="layui-header ws-header ws-bg-light">
		<div class="ws-logo">
			<a href="/">野山参等级分类系统</a>
		</div>
		<div class="ws-header-menu">
			<ul class="layui-nav layui-bg-gray ws-bg-light">
				<li class="layui-nav-item">
					<a href="javascript:;">子级</a>
					<dl class="layui-nav-child">
						<dd><a href="nav.html">菜单1</a></dd>
						<dd><a href="nav.html">菜单2</a></dd>
						<dd><a href="nav.html">菜单3</a></dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">选项</a>
					<dl class="layui-nav-child">
						<dd><a href="nav.html">选项1</a></dd>
						<dd class="layui-this"><a href="nav.html">选项2</a></dd>
						<dd><a href="nav.html">选项3</a></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>

	<div class="ws-container">
		<div class="layui-container">
			<!-- display picture roundly -->
			<div align=center style="padding: 20px;">
				<div class="layui-carousel" id="test1" align=center>
					<div carousel-item=''>
						<div><img src="static/images/wild_ginseng_1.jpg"></div>
						<div><img src="static/images/wild_ginseng_2.jpg"></div>
						<div><img src="static/images/wild_ginseng_3.jpg"></div>
					</div>
				</div>
			</div>

			<div class="layui-row">
				<!-- action="/login" method="POST" -->
				<form class="layui-form" action="" lay-filter="form-group">
					<input type="hidden" name="method" value="login">
					<div class="layui-form-item" style="width: 400px; margin: auto;">
						<label class="layui-form-label">用户名</label>
						<div class="layui-input-block">
							<input type="text" name="username" required lay-verify="required" placeholder="请输入用户名"
								autocomplete="off" class="layui-input">
							<div class="layui-form-mid layui-word-aux">
							</div>
						</div>
					</div>
					<div class="layui-form-item" style="width: 400px; margin: auto;">
						<label class="layui-form-label">密码</label>
						<div class="layui-input-block">
							<input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
								autocomplete="off" class="layui-input">
							<div class="layui-form-mid layui-word-aux">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block" style="display: flex;justify-content:center;">
							<button class="layui-btn" lay-submit lay-filter="form-submit"
								style="margin-left: -80px;">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
							<a href="#" class="layui-btn layui-btn-primary">注册</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="layui-footer ws-footer">
		<p>
			Copyright©2023
			开发单位: 延边大学嵌入式系统实验室
		</p>
	</div>

</body>
<script>
	layui.use('carousel', function () {
		var carousel = layui.carousel;
		//constructed instance 
		carousel.render({
			elem: '#test1',     //Container
			width: '960px',		//Container width
			height: '260px', 	//Container height
			arrow: 'always', 	//always show arrows
			autoplay: 'true',	//display automatically
			interval: 3000		//display interval
		});
	});

	layui.use('form', function () {
		var form = layui.form;
		var layer = layui.layer;
		var $ = layui.$;
		//var util = layui.util;

		// 监听表单提交事件
		form.on('submit(form-submit)', function (data) {
			// 发起 Ajax 请求
			$.ajax({
				url: '/login',  // 后端登录接口的 URL
				type: 'POST',
				dataType: 'json',
				data: data.field,
				success: function (result) {
					// 根据返回的 JSON 数据判断是否登录成功
					if (result.success) {
						// 登录成功，显示成功提示框
						layer.msg('登录成功', { icon: 1 });
						// 1秒后进行页面重定向
						setTimeout(function () {
							window.location.href = '/';
						}, 500); // 1000毫秒 = 1秒
						// 进行页面重定向
						//window.location.href = '/';
					} else {
						// 登录失败，显示失败提示框
						layer.msg('登录失败，请检查用户名和密码', { icon: 2 });
					}
				},
				error: function () {
					// 处理请求发生错误的情况
					layer.msg('请求失败，请重试', { icon: 2 });
				}
			});
			return false; // 阻止表单的默认提交行为
		});

	});

	//Reload window when it resize
	$(window).resize(function () {
		window.location.reload()
	})


</script>

</html>