<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>野山参等级分类系统</title>
    <link rel="stylesheet" href="static/layui/css/layui.css">
    <link rel="stylesheet" href="static/layui/css/global.css">
    <script src="static/layui/layui.js"></script>
</head>

<body>
    <fieldset class="layui-elem-field" style="margin: 10px 10px;">
        <legend>视频拍照</legend>
        <div class="layui-field-box layui-text ws-text">
            下面的左框中会显示视频流数据，点击拍照后在右框中会显示拍照后的图片，点击推理会对裁剪后的图展开推理。
        </div>
    </fieldset>
    <!--左边显示视频流-->
    <div class="layui-col-md6">
        <div class="layui-upload-drag" style="display: block;">
            <div style="display: flex;align-items: center;justify-content: center;">
                <i class="layui-icon layui-icon-video"></i>
                <span style="display: inline-block;vertical-align: middle;font-size: 20px;">摄像头数据流</span>
            </div>
            <img src="{{ url_for('user.camera_ginseng_stream') }}" alt="" width="100%" style="margin-bottom:10px">
        </div>
    </div>
    <!--右边显示表单-->
    <div class="layui-col-md6">
        <span>在此处添加表单</span>
    </div>
</body>